.panel-default > .panel-heading {
    background-color: #f57d1f;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

.mtm {
    margin-top: 20px;
}

.btn-success {
    color: #fff;
    background-color: #f57d1f;
    border-color: #E46908;
}

    .btn-success.green {
    background-color: #479047 !important;
    border-color: #479047 !important;
    font-size: 15px;
    padding: 7px 50px;
    }

    .btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:active:focus {
        color: #fff;
        background-color: #E46908;
        border-color: #E46908;
    }

.has-error {
    color: #a94442;
    text-align: center;
}

.fa {
    color: #f57d1f;
}

.orange, .orange:hover {
    color: #f57d1f;
    text-decoration: none;
}

.logo {
    background: url('../img/logo.png') no-repeat;
    text-indent: -9999px;
    width: 150px;
    height: 46px;
    margin-left: 15px;
    margin-top: 4px;
}

.center {
    text-align: center;
}

.value-status {
    display: none;
}

.fa-check-circle-o {
    color: #4CAF50;
}

.fa-dot-circle-o {
    color: #F44336;
}

.fa-plus, .fa-times, .fa-save {
    color: #FFF;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #f57d1f;
    border-color: #f57d1f;
}

.pagination > li > a, .pagination > li > span {
    color: #f57d1f;
}

    .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
        color: #f57d1f;
    }

.panel-red a, .panel-red a:hover {
    color: #FFF;
}
