﻿@font-face {
	font-family: 'Montserrat';
	src: url('../../lib/fonts/Montserrat-Regular.eot');
	src: url('../../lib/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../lib/fonts/Montserrat-Regular.woff') format('woff'),
        url('../../lib/fonts/Montserrat-Regular.woff2') format('woff2'),
		url('../../lib/fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Tahoma';
	src: url('../../lib/fonts/Tahoma-Bold.eot');
	src: url('../../lib/fonts/Tahoma-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../lib/fonts/Tahoma-Bold.woff2') format('woff2'),
		url('../../lib/fonts/Tahoma-Bold.woff') format('woff'),
		url('../../lib/fonts/Tahoma-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Tahoma';
	src: url('../../lib/fonts/Tahoma.eot');
	src: url('../../lib/fonts/Tahoma.eot?#iefix') format('embedded-opentype'),
		url('../../lib/fonts/Tahoma.woff2') format('woff2'),
		url('../../lib/fonts/Tahoma.woff') format('woff'),
		url('../../lib/fonts/Tahoma.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
