
@mixin transitions() {
    -webkit-transition: all 0.2s ease-in; /* For Safari 3.1 to 6.0 */
    -moz-transition: all 0.2s ease-in; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease-in;
}




@mixin ellipsisMultiline() {
    display: block;
    /*display: -webkit-box;*/
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


@mixin ellipsisInline() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



@mixin shadowsm() {
-webkit-box-shadow: 3px 3px 7px -2px rgba(184,184,184,1);
-moz-box-shadow: 3px 3px 7px -2px rgba(184,184,184,1);
box-shadow: 3px 3px 7px -2px rgba(184,184,184,1);
}
