$fontFamily: Montserrat;
$fontFamilyTexts: Tahoma;
$colorDefaultFonts: #58595b;
$colorFontsInputs: #808284;
$colorOrange: #f26522;
$colorYellow: #ffb33a;
$colorBorders: #929395;
$colorGray: #575756;
$colorOrangeDarken10: #ea3a0e;
$colorOrangeDarken05: #ee5018;


